# Put your deployed backend URL here (NO /api at the end)
# Examples:
# EXPO_PUBLIC_API_URL=http://192.168.1.5:5000
# EXPO_PUBLIC_API_URL=https://your-backend.up.railway.app
EXPO_PUBLIC_API_URL=http://localhost:5000
